<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.shuaishuai.dao.CreateDao">
    <insert id="insert">
        INSERT INTO haha(data, num)  VALUES (#{data}, #{num})
    </insert>

</mapper>